*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  background-image: url(./src/image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  min-height: 100vh;
  text-align: center;
  padding-top: 180px;
}

.container h1, a, span {
  font-family: 'Cinzel', serif;
  text-decoration: none;
}

.container h1{
  font-weight: 700;
  font-size: 64px;
  color: #151718;

  margin-bottom: 4px;
}

.container span{
  color: #DB2777;
}

.container p {
  font-size: 20px;
  color: rgba(44, 46, 47, 0.9);
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  padding-top: 72px;
}

.buttons a:nth-child(1){
  color: #151718;
  font-size: 20px;
  font-weight: 700;
}

.buttons a:nth-child(2){
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;

  background: #DB2777;
  border-radius: 80px;
  padding: 16px 32px;
}

.buttons a:nth-child(2):hover{
  background: #e62079;
}